<div class="p-4 md:p-5 space-y-4">
    <div class="flex flex-col">
        <div class="overflow-x-auto overflow-y-auto">
            <div class="inline-block min-w-full align-middle">
                <div class="overflow-hidden shadow">
                    <table class="min-w-full divide-y divide-gray-200 table-fixed dark:divide-gray-600">
                        <caption class="p-5 text-lg text-center font-semibold text-gray-900 bg-white dark:text-white dark:bg-gray-700">
                            {{ group_name }}
                            <p class="mt-1 text-sm font-normal text-gray-500 dark:text-gray-400">
                                {{ group_description }}
                            </p>
                        </caption>
                        <thead class="bg-gray-100 dark:bg-gray-700">
                        <tr>
                            <th scope="col"
                                class="p-4 text-xs font-medium text-left text-gray-500 uppercase dark:text-gray-400"
                            >
                                <div class="flex items-center">
                                    Principal Name
                                </div>
                            </th>
                            <th scope="col"
                                class="p-4 text-xs font-medium text-left text-gray-500 uppercase dark:text-gray-400">
                                Source
                            </th>
                        </tr>
                        </thead>
                        <tbody id="principals-tables-body"
                               class="bg-white divide-y divide-gray-200 dark:bg-gray-800 dark:divide-gray-700">
                        {% for principal in principals %}
                            <tr class="hover:bg-gray-100 dark:hover:bg-gray-700">
                                <td class="p-4 text-sm font-normal text-gray-500 whitespace-nowrap dark:text-gray-400">
                                    <div class="text-base font-semibold text-gray-900 dark:text-white">{{ principal.first_name }} {{ principal.last_name }}</div>
                                    <div class="text-sm font-normal text-gray-500 dark:text-gray-400">{{ principal.user_name }}</div>
                                </td>
                                <td class="p-4 whitespace-nowrap">
                                    <span class="bg-green-100 text-green-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded dark:bg-green-900 dark:text-green-300">Active Directory</span>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
