{% from "partials/common/macro-attribute-pill-list.html" import attribute_pill_list %}
<div class="p-4 md:p-5 space-y-4">
    <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
        {{ principal_group.name }}
    </h3>
    <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
        {{ principal_group.description|default("No description", true) }}
    </p>
    <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
        Membership Attribute
    </h3>
    <a href="#"
       class="bg-blue-100 hover:bg-blue-200 text-blue-800 text-xs font-semibold me-2 my-1 px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-blue-400 border border-blue-400 inline-flex items-center justify-center whitespace-nowrap">
        {{ principal_group.membership_attribute_key }}: {{ principal_group.membership_attribute_value }}
    </a>
    <p class="text-sm leading-relaxed text-gray-500 dark:text-gray-400">
        A principal with this attribute is granted membership to this group
    </p>
    <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
        Inheriting Attributes
    </h3>
    {{ attribute_pill_list(principal_group.principal_group_attributes) }}
    <p class="text-sm leading-relaxed text-gray-500 dark:text-gray-400">
        A member of this group will inherit these attributes
    </p>
</div>
