{% for group in groups %}
<tr hx-get="/groups/detail-modal/{{ group.principal_group_id }}"
    hx-target="#group-detail-modal-content"
    hx-swap="innerHTML"
    data-modal-target="group-detail-modal"
    data-modal-toggle="group-detail-modal"
    class="hover:bg-gray-100 dark:hover:bg-gray-700">
    <td class="w-4 p-4">
        <div class="flex items-center">
            <input id="checkbox-id" aria-describedby="checkbox-1" type="checkbox"
                class="w-4 h-4 border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-primary-300 dark:focus:ring-primary-600 dark:ring-offset-gray-800 dark:bg-gray-700 dark:border-gray-600">
            <label for="checkbox-id" class="sr-only">checkbox</label>
        </div>
    </td>
    <td class="p-4 text-sm font-normal text-gray-500 whitespace-nowrap dark:text-gray-400">
        <div class="text-base font-semibold text-gray-900 dark:text-white">{{ group.name }}</div>
        <div class="text-sm font-normal text-gray-500 dark:text-gray-400">{{ group.description }}</div>
    </td>
    <td class="p-4 text-sm font-normal text-gray-500 dark:text-gray-400">
        {{ attribute_pill_list([group.membership_attribute]) }}
    </td>
    <td class="p-4 text-sm font-normal text-gray-500 dark:text-gray-400">
        {{ attribute_pill_list(group.principal_group_attributes) }}
    </td>
    <td class="p-4 text-sm font-normal text-gray-500 dark:text-gray-400">
        <button
            hx-get="/groups/members-modal/{{ group.principal_group_id }}"
            hx-trigger="click consume"
            hx-target="#group-members-modal-content"
            hx-swap="innerHTML"
            type="button"
            id="group-members-button"
            data-modal-target="group-members-modal"
            data-modal-toggle="group-members-modal"
            class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white rounded-lg bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
            Members
{#            <span class="inline-flex items-center justify-center w-4 h-4 ms-2 ml-1 text-xs font-semibold text-blue-800 bg-white rounded-full">#}
{#                5#}
{#            </span>#}
        </button>
    </td>
    <td class="p-4 space-x-2 whitespace-nowrap">
        <button
            hx-get="/groups/edit-modal/{{ group.principal_group_id }}"
            hx-trigger="click consume"
            hx-target="#group-edit-modal-content"
            hx-swap="innerHTML"
            type="button"
            id="group-edit-button"
            data-modal-target="group-edit-modal"
            data-modal-toggle="group-edit-modal"
            class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white rounded-lg bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
            <svg class="w-4 h-4 mr-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M17.414 2.586a2 2 0 00-2.828 0L7 10.172V13h2.828l7.586-7.586a2 2 0 000-2.828z"></path><path fill-rule="evenodd" d="M2 6a2 2 0 012-2h4a1 1 0 010 2H4v10h10v-4a1 1 0 112 0v4a2 2 0 01-2 2H4a2 2 0 01-2-2V6z" clip-rule="evenodd"></path></svg>
            Edit
        </button>
{#        <button type="button" id="detailButton" data-drawer-target="groups-detail-drawer" data-drawer-show="groups-detail-drawer" aria-controls="groups-detail-drawer" data-drawer-placement="right" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white rounded-lg bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">#}
{#            <svg class="w-4 h-4 mr-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M17.414 2.586a2 2 0 00-2.828 0L7 10.172V13h2.828l7.586-7.586a2 2 0 000-2.828z"></path><path fill-rule="evenodd" d="M2 6a2 2 0 012-2h4a1 1 0 010 2H4v10h10v-4a1 1 0 112 0v4a2 2 0 01-2 2H4a2 2 0 01-2-2V6z" clip-rule="evenodd"></path></svg>#}
{#            Detail#}
{#        </button>#}
    </td>
</tr>
{% endfor %}
