{% for table in tables %}
<tr class="hover:bg-gray-100 dark:hover:bg-gray-700">
    <td class="w-4 p-4">
{#        <div class="flex items-center">#}
{#            <input id="checkbox-id" aria-describedby="checkbox-1" type="checkbox"#}
{#                class="w-4 h-4 border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-primary-300 dark:focus:ring-primary-600 dark:ring-offset-gray-800 dark:bg-gray-700 dark:border-gray-600">#}
{#            <label for="checkbox-id" class="sr-only">checkbox</label>#}
{#        </div>#}
    </td>
    <td class="p-4 text-sm font-normal text-gray-500 whitespace-nowrap dark:text-gray-400">
        <div class="text-base font-semibold text-gray-900 dark:text-white">{{ table.platform_name }}</div>
{#        <div class="text-sm font-normal text-gray-500 dark:text-gray-400">{{ table.platform_name }}</div>#}
    </td>
    <td class="max-w-sm p-4 overflow-hidden text-base font-normal text-gray-500 truncate xl:max-w-xs dark:text-gray-400">
        {{ table.database_name }}
    </td>
    <td class="max-w-sm p-4 overflow-hidden text-base font-normal text-gray-500 truncate xl:max-w-xs dark:text-gray-400">
        {{ table.schema_name }}
    </td>
    <td class="max-w-sm p-4 overflow-hidden text-base font-normal text-gray-500 truncate xl:max-w-xs dark:text-gray-400">
        {{ table.table_name }}
    </td>
{#    <td class="p-4 text-sm font-normal text-gray-500 dark:text-gray-400">#}
{#        {{ attribute_pill_list(table.platform_attributes) }}#}
{#    </td>#}
    <td class="p-4 text-sm font-normal text-gray-500 dark:text-gray-400">
        {{ attribute_pill_list(table.platform_attributes) }}
        {{ attribute_pill_list(table.database_attributes) }}
    </td>
    <td class="p-4 text-sm font-normal text-gray-500 dark:text-gray-400">
        {{ attribute_pill_list(table.schema_attributes) }}
    </td>
    <td class="p-4 text-sm font-normal text-gray-500 dark:text-gray-400">
        {{ attribute_pill_list(table.table_attributes) }}
    </td>
    <td class="p-4 space-x-2 whitespace-nowrap">

        <button
            hx-get="/data-objects/table-detail-modal/{{ table.table_id }}"
            hx-trigger="click consume"
            hx-target="#table-detail-modal-content"
            type="button"
            id="table-detail-modal-button"
            data-modal-target="table-detail-modal"
            data-modal-toggle="table-detail-modal"
            {% if table.column_count == 0 %}
                disabled
                class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-gray-900 rounded-lg bg-white border border-gray-200 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600"
            {% else %}
                class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white    rounded-lg bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
            {% endif %}
            >
{#            <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">#}
{#                <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M5 7h14M5 12h14M5 17h14"></path>#}
{#            </svg>#}
            Columns
        </button>

    </td>
</tr>
{% endfor %}
