
<div class="px-4 text-sm font-medium text-center text-gray-500 dark:text-gray-400">
    <ul class="flex flex-wrap text-sm font-medium text-center text-gray-500 dark:text-gray-400">
        <li class="me-2">
            <a href="#"
                {% if active_tab == 'metadata' %}
                    aria-current="page"
                    class="inline-block p-4 text-blue-600 bg-gray-100 rounded-t-lg active dark:bg-gray-800 dark:text-blue-500"
                {% else %}
                    class="inline-block p-4 rounded-t-lg hover:text-gray-600 hover:bg-gray-50 dark:hover:bg-gray-800 dark:hover:text-gray-300"
                {% endif %}
                hx-get="/policies/{{ policy_id }}/metadata_tab"
                hx-target="#policy-builder-content"
                >
                Metadata
            </a>
        </li>
        <li class="me-2">
            <a href="#"
                {% if active_tab == 'principals' %}
                    aria-current="page"
                    class="inline-block p-4 text-blue-600 bg-gray-100 rounded-t-lg active dark:bg-gray-800 dark:text-blue-500"
                {% else %}
                    class="inline-block p-4 rounded-t-lg hover:text-gray-600 hover:bg-gray-50 dark:hover:bg-gray-800 dark:hover:text-gray-300"
                {% endif %}
                hx-get="/policies/{{ policy_id }}/principal_attributes_tab"
                hx-target="#policy-builder-content"
                >
                Principals
            </a>
        </li>
        <li class="me-2">
            <a href="#"
                {% if active_tab == 'objects' %}
                    aria-current="page"
                    class="inline-block p-4 text-blue-600 bg-gray-100 rounded-t-lg active dark:bg-gray-800 dark:text-blue-500"
                {% else %}
                    class="inline-block p-4 rounded-t-lg hover:text-gray-600 hover:bg-gray-50 dark:hover:bg-gray-800 dark:hover:text-gray-300"
                {% endif %}
                hx-get="/policies/{{ policy_id }}/object_attributes_tab"
                hx-target="#policy-builder-content"
                >
                Objects
            </a>
        </li>
    </ul>
</div>
