{% include("partials/policy_builder/policy-builder-tabs.html") %}
<div class="grid gap-4 grid-cols-1 pb-4">
    <div class="p-4 bg-white border border-gray-200 rounded-lg shadow-sm dark:border-gray-700 sm:p-6 dark:bg-gray-800">
        <div class="flex justify-between">
            <h3 class="flex items-center mb-4 text-lg font-semibold text-gray-900 dark:text-white">
                Policy Detail
            </h3>
            <button
                id="savePolicyMetadataButton"
                hx-include="#policy_metadata"
                hx-put="/policies/{{ policy.policy_id }}/metadata"
                hx-target="#policy-builder-content"
                hx-swap="innerHTML"
                hx-ext='json-enc'
                class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                Save
            </button>
        </div>
        <div class="w-full mb-1">
            <div class="mb-4">
                <div class="items-center justify-between block sm:flex md:divide-x md:divide-gray-100 dark:divide-gray-700">
                    <div class="flex items-center mb-4 sm:mb-0">
                        <form id="policy_metadata" class="relative w-96 mt-1 sm:w-64 xl:w-96">
                            <input type="hidden" name="policy_id" value="{{ policy.policy_id }}">
                            <div class="mb-6">
                                <div>
                                    <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Name</label>
                                    <input type="text" name="name" value="{{ policy.name }}"
                                           class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                           placeholder="e.g: Human Resources Commercial" required/>
                                </div>
                            </div>
{#                            <div class="mb-6">#}
{#                                <div>#}
{#                                    <label for="name"#}
{#                                           class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Expiry</label>#}
{#                                    <input type="text" name="expiry" value=""#}
{#                                           class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"#}
{#                                           placeholder="e.g: 30/6/24" required/>#}
{#                                </div>#}
{#                            </div>#}
                            <div class="mb-6">
                                <label for="description"
                                       class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                                    Description
                                </label>
                                <textarea id="description"
                                          name="description"
                                          rows="4"
                                          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                          placeholder="This policy allows access to...">{{ policy.description }}</textarea>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>