{% include("partials/policy_builder/policy-builder-tabs.html") %}
<div class="grid gap-4 grid-cols-2">
    <div class="p-4 bg-white border border-gray-200 rounded-lg shadow-sm dark:border-gray-700 sm:p-6 dark:bg-gray-800">
        <h3 class="flex items-center mb-4 text-lg font-semibold text-gray-900 dark:text-white">Available
            Principal Attributes
            <button data-popover-target="popover-description" data-popover-placement="bottom-end"
                    type="button">
                <svg class="w-4 h-4 ml-2 text-gray-400 hover:text-gray-500" aria-hidden="true"
                     fill="currentColor"
                     viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                          d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z"
                          clip-rule="evenodd"></path>
                </svg>
                <span class="sr-only">Show information</span></button>
        </h3>
        <div data-popover id="popover-description" role="tooltip"
             class="absolute z-10 invisible inline-block text-sm font-light text-gray-500 transition-opacity duration-300 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0 w-72 dark:bg-gray-800 dark:border-gray-600 dark:text-gray-400">
            <div class="p-3 space-y-2">
                <h3 class="font-semibold text-gray-900 dark:text-white">Available Principal Attributes</h3>
                <p>This is a list of all available principal attributes, which can be applied to a policy
                    element</p>
            </div>
            <div data-popper-arrow></div>

        </div>
        <div class="w-full mb-1">
            <div class="mb-4">
                <div class="items-center justify-between block sm:flex md:divide-x md:divide-gray-100 dark:divide-gray-700">
                    <div class="flex items-center mb-4 sm:mb-0">
                        <form class="sm:pr-3">
                            <label for="products-search" class="sr-only">Search</label>
                            <div class="relative w-48 mt-1 sm:w-64 xl:w-64">
                                <input type="text" name="search_term"
                                       id="data-objects-search"
                                       onkeydown="return event.key != 'Enter';"
                                       hx-get="/policies/create/all_principal_attributes"
                                       hx-trigger="load, keyup changed delay:0.2s"
                                       hx-target="#principal-attributes"
                                       class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                                       placeholder="Search by key or value">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div id="principal-attributes"></div>
    </div>

    <div class="p-4 bg-white border border-gray-200 rounded-lg shadow-sm dark:border-gray-700 sm:p-6 dark:bg-gray-800">
        <div class="flex justify-between">
            <h3 class="flex items-center mb-4 text-lg font-semibold text-gray-900 dark:text-white">Required Principal Attributes
                <button data-popover-target="popover-description" data-popover-placement="bottom-end"
                        type="button">
                    <svg class="w-4 h-4 ml-2 text-gray-400 hover:text-gray-500" aria-hidden="true"
                         fill="currentColor"
                         viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                              d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z"
                              clip-rule="evenodd"></path>
                    </svg>
                    <span class="sr-only">Show information</span>
                </button>
            </h3>
            <button
                id="savePolicyAttrsButton"
                hx-include="#required-principal-attributes-form"
                hx-put="/policies/{{ policy_id }}/principal_attributes"
                hx-target="#policy-builder-content"
                hx-ext='json-enc'
                class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                Save
            </button>
        </div>
        <div data-popover id="popover-description" role="tooltip"
             class="absolute z-10 invisible inline-block text-sm font-light text-gray-500 transition-opacity duration-300 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0 w-72 dark:bg-gray-800 dark:border-gray-600 dark:text-gray-400">
            <div class="p-3 space-y-2">
                <h3 class="font-semibold text-gray-900 dark:text-white">Required Principal Attributes</h3>
                <p>This is a list of principal attributes which are required on this policy</p>
            </div>
            <div data-popper-arrow></div>

        </div>
        <div id="required-principal-attributes"
             ondragover="event.preventDefault()"
             ondrop="onPillDrop(event)"
             class="h-full"
        >
            <form id="required-principal-attributes-form"
                class="h-full"
                hx-get="/policies/{{ policy_id }}/principal_attributes"
                hx-trigger="load"
                hx-target="#required-principal-attributes-form"
            </form>
        </div>
    </div>
</div>