
# Policy ID: {{ policy.policy_id }}
# Policy Name: {{ policy.name }}
{%- if policy.policy_type == "Builder" %}
builder_policy_allows_principal_access_by_mapping(data_object) if {
    required_principal_attributes := [
    {%- for attribute in policy.principal_attributes %}
        {
          "key": "{{ attribute.attribute_key }}",
          "value": "{{ attribute.attribute_value }}"
        }{% if not loop.last %},{% endif %}
    {%- endfor %}
    ]

    permitted_object_attributes := [
    {%- for attribute in policy.object_attributes %}
        {
          "key": "{{ attribute.attribute_key }}",
          "value": "{{ attribute.attribute_value }}"
        }{% if not loop.last %},{% endif %}
    {%- endfor %}
    ]

    # assert that the principal has all required_principal_attributes
    principal_has_all_required_attributes(required_principal_attributes)

    # assert that the object has permitted_object_attributes and no others
    every permitted_object_attribute in permitted_object_attributes {
      permitted_object_attribute == data_object.attributes[_]
    }
    count(permitted_object_attributes) == count(data_object.attributes)
}
{% else %}
{{ policy.policy_dsl | default('', true) }}
{% endif %}