
# Policy ID: {{ policy.policy_id }}
# Policy Name: {{ policy.name }}
{%- if policy.policy_type == "Builder" %}
all_object_attrs_exist_on_principal if {
    required_principal_attributes := [
    {%- for attribute in policy.principal_attributes %}
        {
          "key": "{{ attribute.attribute_key }}",
          "value": "{{ attribute.attribute_value }}"
        }{% if not loop.last %},{% endif %}
    {%- endfor %}
    ]

    permitted_object_attributes := [
    {%- for attribute in policy.object_attributes %}
        {
          "key": "{{ attribute.attribute_key }}",
          "value": "{{ attribute.attribute_value }}"
        }{% if not loop.last %},{% endif %}
    {%- endfor %}
    ]

    # assert that the principal has all required_principal_attributes
    some required_principal_attribute in required_principal_attributes
    required_principal_attribute == principal_attributes[_]

    # assert that the object has permitted_object_attributes and no others
    some permitted_object_attribute in permitted_object_attributes
    permitted_object_attribute == data_object_attributes[_]
    count(permitted_object_attributes) == count(data_object_attributes)
}
{% else %}
{{ policy.policy_dsl }}
{% endif %}