{% for policy in policies %}
<tr class="hover:bg-gray-100 dark:hover:bg-gray-700">
    <td class="w-4 p-4">
        <div class="flex items-center">
            <input id="checkbox-id" aria-describedby="checkbox-1" type="checkbox"
                class="w-4 h-4 border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-primary-300 dark:focus:ring-primary-600 dark:ring-offset-gray-800 dark:bg-gray-700 dark:border-gray-600">
            <label for="checkbox-id" class="sr-only">checkbox</label>
        </div>
    </td>
    <td class="p-4 text-sm font-normal text-gray-500 whitespace-normal dark:text-gray-400">
        <div class="text-base font-semibold text-gray-900 dark:text-white">{{ policy.name }}</div>
        <div class="text-sm font-normal text-gray-500 dark:text-gray-400">{{ policy.description }}</div>
    </td>
    <td class="p-4 text-sm font-normal text-gray-500 dark:text-gray-400">
        {{ policy.policy_type }}
    </td>
    <td class="p-4 text-sm font-normal text-gray-500 dark:text-gray-400">
        {{ policy.author }}
    </td>
    <td class="p-4 text-sm font-normal text-gray-500 dark:text-gray-400">
        {{ policy.publisher or "" }}
    </td>{#    <td class="p-4 text-sm font-normal text-gray-500 dark:text-gray-400">#}
{#        {{ policy.group_operator }}#}
{#    </td>#}
{#    <td class="p-4 text-sm font-normal text-gray-500 dark:text-gray-400">#}
{#        {{ attribute_pill_list(policy.principal_attributes) }}#}
{#    </td>#}
{#    <td class="p-4 text-sm font-normal text-gray-500 dark:text-gray-400">#}
{#        {{ policy.operator }}#}
{#    </td>#}
{#    <td class="p-4 text-sm font-normal text-gray-500 dark:text-gray-400">#}
{#        {{ attribute_pill_list(policy.object_attributes) }}#}
{#    </td>#}
    <td class="p-4 text-sm font-normal text-gray-500 dark:text-gray-400">
        {{ status_label(policy.status) }}
    </td>
    <td class="p-4 space-x-2 whitespace-nowrap">
        <button
            hx-get="/policies/{{ policy.policy_id }}"
            hx-target="#main"
            hx-swap="innerHTML"
            type="button"
            id="policy-edit-button"
            class="inline-flex items-center px-3 py-2 text-xs font-medium text-center text-white rounded-lg bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
            <svg class="w-4 h-4 mr-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M17.414 2.586a2 2 0 00-2.828 0L7 10.172V13h2.828l7.586-7.586a2 2 0 000-2.828z"></path><path fill-rule="evenodd" d="M2 6a2 2 0 012-2h4a1 1 0 010 2H4v10h10v-4a1 1 0 112 0v4a2 2 0 01-2 2H4a2 2 0 01-2-2V6z" clip-rule="evenodd"></path></svg>
            Detail
        </button>
        <button
            hx-get="/policies/{{ policy.policy_id }}"
            hx-target="#main"
            hx-swap="innerHTML"
            type="button"
            id="policy-edit-button"
            class="inline-flex items-center px-3 py-2 text-xs font-medium text-center text-white rounded-lg bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
            <svg class="w-4 h-4 mr-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M17.414 2.586a2 2 0 00-2.828 0L7 10.172V13h2.828l7.586-7.586a2 2 0 000-2.828z"></path><path fill-rule="evenodd" d="M2 6a2 2 0 012-2h4a1 1 0 010 2H4v10h10v-4a1 1 0 112 0v4a2 2 0 01-2 2H4a2 2 0 01-2-2V6z" clip-rule="evenodd"></path></svg>
            Publish
        </button>
        <button
            hx-get="/policies/{{ policy.policy_id }}"
            hx-target="#main"
            hx-swap="innerHTML"
            type="button"
            id="policy-edit-button"
            class="inline-flex items-center px-3 py-2 text-xs font-medium text-center text-white rounded-lg bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
            <svg class="w-4 h-4 mr-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M17.414 2.586a2 2 0 00-2.828 0L7 10.172V13h2.828l7.586-7.586a2 2 0 000-2.828z"></path><path fill-rule="evenodd" d="M2 6a2 2 0 012-2h4a1 1 0 010 2H4v10h10v-4a1 1 0 112 0v4a2 2 0 01-2 2H4a2 2 0 01-2-2V6z" clip-rule="evenodd"></path></svg>
            Edit
        </button>
        <button
            hx-post="/policies/clone/{{ policy.policy_id }}"
            hx-confirm="Are you sure you want to clone this policy?"
            hx-target="#main"
            hx-swap="innerHTML"
            type="button"
            id="policy-edit-button"
            class="inline-flex items-center px-3 py-2 text-xs font-medium text-center text-white rounded-lg bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
            <svg class="w-4 h-4 mr-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M17.414 2.586a2 2 0 00-2.828 0L7 10.172V13h2.828l7.586-7.586a2 2 0 000-2.828z"></path><path fill-rule="evenodd" d="M2 6a2 2 0 012-2h4a1 1 0 010 2H4v10h10v-4a1 1 0 112 0v4a2 2 0 01-2 2H4a2 2 0 01-2-2V6z" clip-rule="evenodd"></path></svg>
            Clone
        </button>
        <button
            hx-delete="/policies/{{ policy.policy_id }}"
            hx-confirm="Are you sure you want to delete this policy?"
            hx-target="#main"
            hx-swap="innerHTML"
            type="button"
            id="policy-edit-button"
            class="inline-flex items-center px-3 py-2 text-xs font-medium text-center text-white rounded-lg bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">
            <svg class="w-4 h-4 mr-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M17.414 2.586a2 2 0 00-2.828 0L7 10.172V13h2.828l7.586-7.586a2 2 0 000-2.828z"></path><path fill-rule="evenodd" d="M2 6a2 2 0 012-2h4a1 1 0 010 2H4v10h10v-4a1 1 0 112 0v4a2 2 0 01-2 2H4a2 2 0 01-2-2V6z" clip-rule="evenodd"></path></svg>
            Delete
        </button>
    </td>
</tr>
{% endfor %}
