{% include "partials/common/app-state-table-vars.html" %}
{% from "partials/common/macro-attribute-pill-list.html" import attribute_pill_list %}
{% from "partials/common/table-footer-macro.html" import table_footer_macro %}

<div class="flex flex-col">
    <div class="overflow-x-auto">
        <div class="inline-block min-w-full align-middle">
            <div class="overflow-hidden shadow">
                <table class="min-w-full divide-y divide-gray-200 table-fixed dark:divide-gray-600">
                    <thead class="bg-gray-100 dark:bg-gray-700">
                    <tr>
                        <th scope="col" class="p-4">
{#                            <div class="flex items-center">#}
{#                                <input id="checkbox-all" name="checkbox-all" aria-describedby="checkbox-1"#}
{#                                       type="checkbox"#}
{#                                       class="w-4 h-4 border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-primary-300 dark:focus:ring-primary-600 dark:ring-offset-gray-800 dark:bg-gray-700 dark:border-gray-600">#}
{#                                <label for="checkbox-all" class="sr-only">checkbox</label>#}
{#                            </div>#}
                        </th>
                        <th scope="col"
                            class="p-4 text-xs font-medium text-left text-gray-500 uppercase dark:text-gray-400"
                        >
                            <div class="flex items-center">
                                Timestamp
                                <a href="#"
                                   hx-get="/decision-logs/table"
                                   hx-target="#decision-logs-table"
                                   hx-include="#app-state-sort-key, #app-state-search-term, #app-state-page-size"
                                   hx-vals='{"sort_key": "platform"}'
                                >
                                    <svg class="w-3 h-3 ms-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                         fill="currentColor" viewBox="0 0 24 24">
                                        <path d="M8.574 11.024h6.852a2.075 2.075 0 0 0 1.847-1.086 1.9 1.9 0 0 0-.11-1.986L13.736 2.9a2.122 2.122 0 0 0-3.472 0L6.837 7.952a1.9 1.9 0 0 0-.11 1.986 2.074 2.074 0 0 0 1.847 1.086Zm6.852 1.952H8.574a2.072 2.072 0 0 0-1.847 1.087 1.9 1.9 0 0 0 .11 1.985l3.426 5.05a2.123 2.123 0 0 0 3.472 0l3.427-5.05a1.9 1.9 0 0 0 .11-1.985 2.074 2.074 0 0 0-1.846-1.087Z"/>
                                    </svg>
                                </a>
                            </div>
                        </th>
                        <th scope="col"
                            class="p-4 text-xs font-medium text-left text-gray-500 uppercase dark:text-gray-400"
                        >
                            <div class="flex items-center">
                                Principal
                                <a href="#"
                                   hx-get="/decision-logs/table"
                                   hx-target="#decision-logs-table"
                                   hx-include="#app-state-sort-key, #app-state-search-term, #app-state-page-size"
                                   hx-vals='{"sort_key": "platform"}'
                                >
                                    <svg class="w-3 h-3 ms-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                         fill="currentColor" viewBox="0 0 24 24">
                                        <path d="M8.574 11.024h6.852a2.075 2.075 0 0 0 1.847-1.086 1.9 1.9 0 0 0-.11-1.986L13.736 2.9a2.122 2.122 0 0 0-3.472 0L6.837 7.952a1.9 1.9 0 0 0-.11 1.986 2.074 2.074 0 0 0 1.847 1.086Zm6.852 1.952H8.574a2.072 2.072 0 0 0-1.847 1.087 1.9 1.9 0 0 0 .11 1.985l3.426 5.05a2.123 2.123 0 0 0 3.472 0l3.427-5.05a1.9 1.9 0 0 0 .11-1.985 2.074 2.074 0 0 0-1.846-1.087Z"/>
                                    </svg>
                                </a>
                            </div>
                        </th>
                        <th scope="col"
                            class="p-4 text-xs font-medium text-left text-gray-500 uppercase dark:text-gray-400"
                        >
                            <div class="flex items-center">
                                Action
                                <a href="#"
                                   hx-get="/decision-logs/table"
                                   hx-target="#decision-logs-table"
                                   hx-include="#app-state-sort-key, #app-state-search-term, #app-state-page-size"
                                   hx-vals='{"sort_key": "platform"}'
                                >
                                    <svg class="w-3 h-3 ms-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                         fill="currentColor" viewBox="0 0 24 24">
                                        <path d="M8.574 11.024h6.852a2.075 2.075 0 0 0 1.847-1.086 1.9 1.9 0 0 0-.11-1.986L13.736 2.9a2.122 2.122 0 0 0-3.472 0L6.837 7.952a1.9 1.9 0 0 0-.11 1.986 2.074 2.074 0 0 0 1.847 1.086Zm6.852 1.952H8.574a2.072 2.072 0 0 0-1.847 1.087 1.9 1.9 0 0 0 .11 1.985l3.426 5.05a2.123 2.123 0 0 0 3.472 0l3.427-5.05a1.9 1.9 0 0 0 .11-1.985 2.074 2.074 0 0 0-1.846-1.087Z"/>
                                    </svg>
                                </a>
                            </div>
                        </th>
                        <th scope="col"
                            class="p-4 text-xs font-medium text-left text-gray-500 uppercase dark:text-gray-400">
                            <div class="flex items-center">
                                Object
                                <a href="#"
                                   hx-get="/decision-logs/table"
                                   hx-target="#decision-logs-table"
                                   hx-include="#app-state-sort-key, #app-state-search-term, #app-state-page-size"
                                   hx-vals='{"sort_key": "database"}'
                                >
                                    <svg class="w-3 h-3 ms-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                         fill="currentColor" viewBox="0 0 24 24">
                                        <path d="M8.574 11.024h6.852a2.075 2.075 0 0 0 1.847-1.086 1.9 1.9 0 0 0-.11-1.986L13.736 2.9a2.122 2.122 0 0 0-3.472 0L6.837 7.952a1.9 1.9 0 0 0-.11 1.986 2.074 2.074 0 0 0 1.847 1.086Zm6.852 1.952H8.574a2.072 2.072 0 0 0-1.847 1.087 1.9 1.9 0 0 0 .11 1.985l3.426 5.05a2.123 2.123 0 0 0 3.472 0l3.427-5.05a1.9 1.9 0 0 0 .11-1.985 2.074 2.074 0 0 0-1.846-1.087Z"/>
                                    </svg>
                                </a>
                            </div>
                        </th>
                        <th scope="col"
                            class="p-4 text-xs font-medium text-left text-gray-500 uppercase dark:text-gray-400">
                            <div class="flex items-center">
                                Result / Mask
                                <a href="#"
                                   hx-get="/decision-logs/table"
                                   hx-target="#decision-logs-table"
                                   hx-include="#app-state-sort-key, #app-state-search-term, #app-state-page-size"
                                   hx-vals='{"sort_key": "object"}'
                                >
                                    <svg class="w-3 h-3 ms-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                         fill="currentColor" viewBox="0 0 24 24">
                                        <path d="M8.574 11.024h6.852a2.075 2.075 0 0 0 1.847-1.086 1.9 1.9 0 0 0-.11-1.986L13.736 2.9a2.122 2.122 0 0 0-3.472 0L6.837 7.952a1.9 1.9 0 0 0-.11 1.986 2.074 2.074 0 0 0 1.847 1.086Zm6.852 1.952H8.574a2.072 2.072 0 0 0-1.847 1.087 1.9 1.9 0 0 0 .11 1.985l3.426 5.05a2.123 2.123 0 0 0 3.472 0l3.427-5.05a1.9 1.9 0 0 0 .11-1.985 2.074 2.074 0 0 0-1.846-1.087Z"/>
                                    </svg>
                                </a>
                            </div>
                        </th>
{#                        <th scope="col"#}
{#                            class="p-4 text-xs font-medium text-left text-gray-500 uppercase dark:text-gray-400">#}
{#                            <div class="flex items-center">#}
{#                                Mask#}
{#                                <a href="#"#}
{#                                   hx-get="/decision-logs/table"#}
{#                                   hx-target="#decision-logs-table"#}
{#                                   hx-include="#app-state-sort-key, #app-state-search-term, #app-state-page-size"#}
{#                                   hx-vals='{"sort_key": "object"}'#}
{#                                >#}
{#                                    <svg class="w-3 h-3 ms-1.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"#}
{#                                         fill="currentColor" viewBox="0 0 24 24">#}
{#                                        <path d="M8.574 11.024h6.852a2.075 2.075 0 0 0 1.847-1.086 1.9 1.9 0 0 0-.11-1.986L13.736 2.9a2.122 2.122 0 0 0-3.472 0L6.837 7.952a1.9 1.9 0 0 0-.11 1.986 2.074 2.074 0 0 0 1.847 1.086Zm6.852 1.952H8.574a2.072 2.072 0 0 0-1.847 1.087 1.9 1.9 0 0 0 .11 1.985l3.426 5.05a2.123 2.123 0 0 0 3.472 0l3.427-5.05a1.9 1.9 0 0 0 .11-1.985 2.074 2.074 0 0 0-1.846-1.087Z"/>#}
{#                                    </svg>#}
{#                                </a>#}
{#                            </div>#}
{#                        </th>#}
                    </tr>
                    </thead>
                    <tbody id="attributes-tables-body"
                           class="bg-white divide-y divide-gray-200 dark:bg-gray-800 dark:divide-gray-700">
                    {% include 'partials/decision_logs/decision-logs-table-tr.html' %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{{ table_footer_macro("decision-logs", query_state) }}
